{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'comments_helper.tmpl' as comments with context %}
{% import 'ui_helper.tmpl' as ui with context %}
{% import 'post_helper.tmpl' as post_helper with context %}
{% block sourcelink %}{% endblock %}

{% block content %}
    <header>
        <h1 class="title is-2">{{ title|title }}</h1>
    </header>
    {% if post %}
    <div class="content">
        {{ post.text() }}
    </div>
    {% endif %}
    {% if folders %}
        <div class="columns is-multiline">
        {% if galleries_use_thumbnail %}
            {% for (folder, ftitle, fpost) in folders %}
            <div class="column is-one-third-desktop is-half-tablet">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-5">{{ ftitle|e }}</p>
                    </div>
                    <a href="{{ folder }}" title="{{ ftitle|e }}">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                {% if fpost and fpost.previewimage %}
                                    <img src="{{ fpost.previewimage }}" alt="{{ ftitle|e }}" loading="lazy" />
                                {% else %}
                                    <div style="background-color: #eee; width: 100%; height: 100%;"></div>
                                {% endif %}
                            </figure>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            {% for folder, ftitle in folders %}
            <div class="column is-one-third-desktop is-half-tablet">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-5"><a href="{{ folder }}">{{ ftitle|e }}</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    {% endif %}

<div id="gallery_container"></div>
{% if photo_array %}
<noscript>
<ul class="thumbnails">
    {% for image in photo_array %}
        <li><a href="{{ image['url'] }}" class="thumbnail image-reference" title="{{ image['title']|e }}">
            <img src="{{ image['url_thumb'] }}" alt="{{ image['title']|e }}" loading="lazy" /></a>
    {% endfor %}
</ul>
</noscript>
{% endif %}
{% if site_has_comments and enable_comments %}
    {{ comments.comment_form(None, permalink, title) }}
{% endif %}
{% endblock %}

{% block extra_head %}
{{ super() }}
<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">
<style type="text/css">
    #gallery_container {
        position: relative;
    }
    .image-block {
        position: absolute;
    }
</style>
{% if translations|length > 1 %}
    {% for langname in translations.keys() %}
         {% if langname != lang %}
             <link rel="alternate" hreflang="{{ langname }}" href="{{ _link('gallery', gallery_path, langname) }}">
         {% endif %}
    {% endfor %}
{% endif %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">
{% if post %}
    {{ post_helper.open_graph_metadata(post) }}
    {{ post_helper.twitter_card_information(post) }}
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="/assets/js/justified-layout.min.js"></script>
<script src="/assets/js/gallery.min.js"></script>
<script>
var jsonContent = {{ photo_array_json }};
var thumbnailSize = {{ thumbnail_size }};
renderGallery(jsonContent, thumbnailSize);
window.addEventListener('resize', function(){renderGallery(jsonContent, thumbnailSize)});
</script>
{% endblock %}
