/* BASIC FORMATTING
---------------------------------------------- */

body {
	background: #fff;
	color: #000;
	font: 12px 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	line-height: 16px;
	margin: 0;
	padding: 0;
	}
	
a, a:visited {
	color: #0000ff;
	}
	
a:hover {
	text-decoration: none;
	}
	
ul {
	margin: 0;
	}
	
ul li {
	margin: 4px 0;
	}
	
.container {
	width: 716px;
	margin: 60px auto;
	}
	
h2 {
	font-size: 1.4em;
	margin: 1.6em 0 .4em 0;
	padding: 0;
	}


.footer {
	color: #999;
	margin-top: 50px;
	padding-top: 8px;
	border-top: 1px dotted #999;
	}
	
label {
	display: block;
	}
	
.entry .cite {
	font-weight: bold;
	}

.entry .message {
	display: block;
	}
	
div.warning {
	background: #F78D91;
	border: 1px solid #F02E35;
	padding: 12px;
	margin-bottom: 12px;
	}


table {
	width: 100%;
	background: #ddd;
	}
	
table td {
	background: #fff;
	padding: 2px;
	}
