body {
	background:			#ddeef6;
	color:				#232934;
	font:				13px 'Helvetica', 'Lucida Grande', Arial, Verdana, sans-serif;
}


div#container {
/*	background:			#bdb8b2;
	border:				#ddd7d0 5px solid;*/
}

a, 
a:visited {
	color:				#c11d10;
	font-weight:		bold;
	text-decoration:	none;
}

a:hover {
	text-decoration:	underline;
}


div#rf-blue-bar {
	background:			#c0deed;
	border-bottom:		#b4d2df 1px solid;
	height:				11em;
	left:				0;
	position:			fixed;
	top:				0;
	width:				100%;
	z-index:			0;
}


/*
	NAV
*/

div.nav ul {
	border-bottom:	        	#9299a6 2px solid;
	border-top:			#9299a6 2px solid;
	top:			12em;
	padding:			1px 1px 0 1px;
	width:                          14em;
        left: 0;
	position: fixed;
}

div.nav ul li {
	margin-bottom:		2px;
}

div.nav ul li a {
	background:			#d6dde5;
	color:				#111;
	display:			block;
	font-size:			1.1em;
	padding:			.5em .8em
}

div.nav ul li a:hover {
	background:			#bdc3cb;
	text-decoration:	none;
}


/*
	CONTENT
*/
div.content {
	background:			#fafafa;
	border:				#b4d2df 1px solid;
	margin:				2em auto 6em auto;
	padding:			0 1.3em 1em 1.3em;
	position:			relative;
	width:				672px;
	-moz-border-radius:		.7em;
	-webkit-border-radius:	.7em;
	-moz-box-shadow:		0 0 10px #b4d2df;
	-webkit-box-shadow:		0 0 10px #b4d2df;
}

div.content strong {
/*	color:				#90c04b;*/
}

div.content div.section {
	border-top:			#b4d2df 1px dotted;
	margin-bottom:		6em;
	padding-top:		.6em;
}

div.content div.section:first-child {
	border-top:			none;
}

div.content div.ws {
	font-size:			1.1em;
	margin:				1em 0;
}

div.content h2 {
	color:				#002233;
	font-size:			2.2em;
/*	margin-bottom:		.6em;*/
}

div.content p {
	margin-bottom:		1em;
}

/*	stupid jeff should've used child-selectors :(		*/
div.content p.headline {
	color:				#00131e;
	font-size:			1.3em;
}

div.content p.sub-headline {
	color:				#2d3f49;
	font-size:			1.1em;
	line-height:		1.5em;
}

div.content div.section:hover p {
	color:				#222;
} 

div.content p.desc,
div.content div.section:hover p.desc {
	color:				#77b5d2;
	font-size:			.9em;
}

div.content p.desc-pop {
	color: 				#c11d10;
	font-size:			.9em;
}

div.hotbox {
	background:			#dafc7c url(/images/festivals/2010/pres/img/logos/minkey-see.png) bottom right no-repeat;
	border:				#aacc58 1px solid;
	padding:			1em;
	-moz-border-radius:		.7em;
	-webkit-border-radius:	.7em;
}

div.halfish {
	float:				left;
	width:				40%;
}

div#info div.halfish {
	color:				#222;
	font-size:			1.3em;
	padding-left:		.6em;

}

div#info div.halfish h3 {
	color:				#002233;
	margin-bottom:		.6em;
}

div#info h3 {
	margin-bottom:		.3em;
	padding-left:		22px;
}

div#info p.headline {
	color:				#002233;
	font-size:			1.4em;
	margin:				2em 0;
}

div.dates h3 {
	background:			transparent url(/images/festivals/2010/pres/img/icons/clock.png) center left no-repeat;
}

div.loci h3 {
	background:			transparent url(/images/festivals/2010/pres/img/icons/map.png) center left no-repeat;
}

div.dates ul li {
	margin-bottom:		.6em;
}

div.dates ul li span.time {
	display:			block;
}

/*	info is bluer, bluer, bluer	*/
div#info {
	border-top:			none;
}

div#info h2 {
	/*
	color:				#003f5d;
	font-size:			1.7em;
	font-weight:		normal;
	text-align:			center;
	text-transform:		uppercase;
	*/
	
	background:			transparent url(/images/festivals/2010/pres/img/logos/header.png) center top no-repeat;
	height:				90px;
	margin-bottom:		.3em;
	text-indent:		-300em;
	width:				672px;
}

div#info p.desc {
	color:				#84b3d2;
	text-align:			center;
}

/*	maps		*/
div.maps img {
	border:				#b4d2df 1px solid;
	padding:			1px;
}

/*	artists		*/
div.artists div.artist {
	float:				left;
	margin:				1em 1em 0 0;
	min-height:			20em;
	position:			relative;
	width:				30%;
}

div.artist div.img-wrap {
	background:			#efefef;
	border:				#dedede 1px solid;
	height:				18em;
	margin-bottom:		.8em;
	min-height:			14em;
	overflow:			hidden;
}

div.artist span.name {
	display:			block;
	font-weight:		bold;
}

div.artist span.title {
	display:			block;
	color:				#757a85;
	margin-bottom:		.8em;
}

div.artist p.details {
	min-height:			10em;
}



/*
	FOOTER
*/
div.footer {
	border-top:			#dedede 1px solid;
	color:				#aaa;
	margin-bottom:		4em;
	padding-top:		.5em;
}

div.footer p.copy {
	color:				#bbb;
}

.clearfix {
        clear:                 both;
}

#workshops td {
     padding: 0.3em;
}